<h1>Product Lists</h1>
<hr>
<table class="table table-border table-hover">
    <caption></caption>
    <thead>
       <tr>
        <th>#</th>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>discountPercentage</th>
        <th>rating</th>
        <th>stock</th>
        <th>brand</th>
        <th>category</th>
        <th>thumbnail</th>
        <th>images</th>
        <th>Action</th>
       </tr>
    </thead>
    <tbody >
        @for(product of products;track product.id){
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.discountPercentage}}</td>
                <td>{{product.rating}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.category}}</td>
                <td><img src="{{product.thumbnail}}" alt=""/></td>
                <td>
                    <div id="images" *ngFor="let image of product.images">
                        <img src="{{image}}" alt=""/>
                    </div>
                </td>
                <td>
                    <button class="btn" title="View" [routerLink]="['/product-list/product-details']"><i class="fa fa-eye text-info"></i></button>
                    <button class="btn" title="Edit" [routerLink]="['/product-list/product-details/product-edit',product.id]"><i class="fa fa-pencil text-info"></i></button>
                    <button class="btn" title="Delete" (click)="deleteProduct(product.id)"><i class="fa fa-trash text-danger"></i></button>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<hr/>
<router-outlet></router-outlet>

