<div  class="col-8">
    <div class="mb-3">
       <label for="">Enter Product ID</label>
       <input type="text" [(ngModel)]="product.id" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="">Enter Product Title</label>
      <input type="text" [(ngModel)]="product.title" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product Description</label>
      <input type="text" [(ngModel)]="product.description" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product price</label>
      <input type="text" [(ngModel)]="product.price" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product discountPercentage</label>
      <input type="text" [(ngModel)]="product.discountPercentage" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product rating</label>
      <input type="text" [(ngModel)]="product.rating" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product stock</label>
      <input type="text" [(ngModel)]="product.stock" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product brand</label>
      <input type="text" [(ngModel)]="product.brand" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product category</label>
      <input type="text" [(ngModel)]="product.category" class="form-control"/>
   </div>
   <div class="mb-3">
      <label for="">Enter Product thumbnail</label>
      <input type="text" [(ngModel)]="product.thumbnail" class="form-control"/>
   </div>
   <div class="mb-3">
     
      <input type="button" (click)="addProduct()" class="btn btn-info" value="Add"/>
   </div>

</div>

